body{
    font-family: 'Lato', sans-serif;
}
p{
line-height: 1.8 !important;
}
h1, h2, span{
    color: var(--coe-primary);
    font-family: 'Inter', cursive;
}
img{
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
}
a, a:hover, a:active {
    text-decoration: none;
    outline: none;
    border: none;

}